@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body{
    color: #555;
    margin: 0;
    font-family: 'montserrat', sans-serif;

}
#header {
    background-color: #1abc9c;
    height: 150px;
    line-height: 150px;
}
#header-title{
    display: block;
    float: left;
    font-size: 20px;
    font-weight: bold;

}
#header-nav{
    display: block;
    float: right;
    margin-top: 0;
}
#header-nav li{
    display: inline;
    padding-left: 20px;
}
.container{
    max-width: 1000px;
    margin: auto;
}
#header a {
    color: azure;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
#header a:hover{
    color: #222;
}
#footer {
    background-color: #2f2f2f;
    padding: 50px 0;

}
.column{
    min-width: 300px;
    display: inline-block;
    vertical-align: top;

}
#footer h4 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
#footer p {
    color: aliceblue;
}
a{
    color: #1abc9c;
    text-decoration: none;

}
a:hover{
    color: #F6A623;
}
.post{
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 0;

}
.post-author img{
    width: 150px;
    height: 150px;
    vertical-align: middle;
    border-radius: 50%;
}
.post-author span{
    margin-left: 16px;

}
.post-date {
    color: #D2D2D2;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
h1,h2,h3,h4 {
    color: #333;
}
p{
    line-height: 1.5;
}
.post-container:nth-child(even) {
    background-color: #817e7e;
}